.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    width: 100px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.furniture-img {
    height: 100px;
}

.product {
    border: 1px black solid;
    display: flex;
    max-width: 400px;
}